/* PC */
/* .wrapper {
    margin: 0 auto;
} */
header {
    padding: 1px;
    background: black;
}
.webNav {
    margin:0 auto;
    max-width: 1300px;
}

.logo {
    float: left;
    margin-left: 20px;
}
.logo a {
    color: white;
    text-decoration: none;
    font-size: 20px;
}

div.hamburger  {
    display: none;
}

ul.mobileMenu  {
    display: none;
}

ul.menu {
    float: right;
    margin-top: 20px;
    font-size: 18px;
}

ul.menu a, ul.mobileMenu a {
    color: white;
    text-decoration: none;
}

ul.menu li {
    margin-right: 40px;
    display: inline-block;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

section {
    text-align: center; 
}

.welcome {
    padding: 30px;
    background: whitesmoke;
}

.welcomeFont {
    display: inline-block;
    max-width: 600px;
}

div.gallery, div.hideGallery {
    margin: 0 auto;
    max-width: 1200px;
}

.flex-container {
    display: flex;
    justify-content: center;
}

.responsiveBox {
    padding: 0% 1% 1% 1%;
    width: 48%;
}

.responsiveBox img {
    width: 100%;
    height: auto;
}

.shopButton {
    margin: 8px;
    background-color: #6B8E23; /* Green */
    border: none;
    color: white;
    padding: 10px 30px;
    text-align: center;
    display: inline-block;
    font-size: 20px;
}

div.hideGallery {
    display: none;
}

/* hamburger */
@media (max-width: 800px) {
    .webNav {
        margin:0 auto;
        max-width: 800px;
    }

    /* menu trigger icon replace menu items */
    ul.menu {
        display: none;
    }

    div.hamburger {
        display: block;
        float: right;
        margin: 13px 15px 0px 13px;
    }

    ul.mobileMenu {
        display: none;
        position: absolute;
        right: 0px;
        top: 0px;
        background-color: #cccc00;
        height: 100%;
    }

    ul.mobileMenu a {
        font-size: 20px;
        margin: 50px 100px 50px 20px;
        line-height: 50px;
        text-align: left;
    }

    .closeItem {
        position: fixed;
        right: 0px;
        top: 0px;
        margin: 13px 15px 0px 13px;
    }

    img.closeItem  {
        right: 0px;
        width: 32px;
        height: 32px;
    }
}

/* gallery 1 columm */
@media (max-width: 500px) {
    .flex-container {
        display: inline-block;
    }
    .responsiveBox {
        padding: 0% 5% 5% 5%;
        width: 90%;
    }
}
